In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv("Airlines.csv")
df

,id,Airline,Flight,AirportFrom,AirportTo,DayOfWeek,Time,Length,Delay
0,1,CO,269,SFO,IAH,3,15,205,1
1,2,US,1558,PHX,CLT,3,15,222,1
2,3,AA,2400,LAX,DFW,3,20,165,1
3,4,AA,2466,SFO,DFW,3,20,195,1
4,5,AS,108,ANC,SEA,3,30,202,0
...,...,...,...,...,...,...,...,...,...
539378,539379,CO,178,OGG,SNA,5,1439,326,0
539379,539380,FL,398,SEA,ATL,5,1439,305,0
539380,539381,FL,609,SFO,MKE,5,1439,255,0
539381,539382,UA,78,HNL,SFO,5,1439,313,1
539382,539383,US,1442,LAX,PHL,5,1439,301,1

In [2]:
df.isnull().sum()

id             0
Airline        0
Flight         0
AirportFrom    0
AirportTo      0
DayOfWeek      0
Time           0
Length         0
Delay          0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539383 entries, 0 to 539382
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           539383 non-null  int64
 1   Airline      539383 non-null  object
 2   Flight       539383 non-null  int64
 3   AirportFrom  539383 non-null  object
 4   AirportTo    539383 non-null  object
 5   DayOfWeek    539383 non-null  int64
 6   Time         539383 non-null  int64
 7   Length       539383 non-null  int64
 8   Delay        539383 non-null  int64
dtypes: int64(6), object(3)
memory usage: 37.0+ MB

In [4]:
df.describe()

,id,Flight,DayOfWeek,Time,Length,Delay
count,539383.00000,539383.000000,539383.000000,539383.000000,539383.000000,539383.000000
mean,269692.00000,2427.928630,3.929668,802.728963,132.202007,0.445442
std,155706.60446,2067.429837,1.914664,278.045911,70.117016,0.497015
min,1.00000,1.000000,1.000000,10.000000,0.000000,0.000000
25%,134846.50000,712.000000,2.000000,565.000000,81.000000,0.000000
50%,269692.00000,1809.000000,4.000000,795.000000,115.000000,0.000000
75%,404537.50000,3745.000000,5.000000,1035.000000,162.000000,1.000000
max,539383.00000,7814.000000,7.000000,1439.000000,655.000000,1.000000

In [46]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [21]:
len(df.columns)

9

# df1=df.columns
for i in range(len(df1)):
    print(df[df1[i]].value_counts(),'\n')
    print()

In [23]:
le=LabelEncoder()
df['Airline']=le.fit_transform(df['Airline'])
df['AirportFrom']=le.fit_transform(df['AirportFrom'])
df['AirportTo']=le.fit_transform(df['AirportTo'])

In [24]:
df

,id,Airline,Flight,AirportFrom,AirportTo,DayOfWeek,Time,Length,Delay
0,1,4,269,253,135,3,15,205,1
1,2,14,1558,217,60,3,15,222,1
2,3,1,2400,154,80,3,20,165,1
3,4,1,2466,253,80,3,20,195,1
4,5,2,108,14,252,3,30,202,0
...,...,...,...,...,...,...,...,...,...
539378,539379,4,178,203,264,5,1439,326,0
539379,539380,8,398,252,16,5,1439,305,0
539380,539381,8,609,253,184,5,1439,255,0
539381,539382,13,78,128,253,5,1439,313,1
539382,539383,14,1442,154,216,5,1439,301,1

In [33]:
x=df.drop('Delay',axis=1)
y=df.Delay.values

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [35]:
model=LogisticRegression()
model.fit(x_train,y_train)
model

LogisticRegression()

In [36]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [39]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.73      0.59      0.65     73561
           1       0.38      0.53      0.44     34316

    accuracy                           0.57    107877
   macro avg       0.55      0.56      0.55    107877
weighted avg       0.62      0.57      0.59    107877

In [41]:
con_mat=confusion_matrix(y_test,y_pred)
print(con_mat)

[[43689 16190]
 [29872 18126]]

In [44]:
plt.figure(figsize=(7,7))

In [51]:
print("accuracy_score",accuracy_score(y_test,y_pred))
print(round(100*accuracy_score(y_test,y_pred)),'%')

accuracy_score 0.573013710058678
57 %